<!doctype html>
<html>
  <head>
    <title>Remote mouse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      html, body { font: 13px Helvetica, Arial; height: 100%; width: 100%;overscroll-behavior-y: contain;}
      .container-app {height: 100%; width: 100%}
      .container-mouse { display: flex; position: fixed; bottom: 0; width: 100%; }
      .mouse-button { flex: 1 1 auto; height: 50px;z-index: 1;}
      canvas { width: 100%; height: 100%;z-index: 0;}
    </style>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io({
            reconnectionAttempts: 5,
        });
    </script>
  </head>
  <body>
    <div class="container-app">
        <div id="log"></div>
        <canvas id="surface"></canvas>
        <div class="container-mouse">
            <button id="leftMouseButton" class="mouse-button" disabled>LPM</button>
            <button id="rightMouseButton" class="mouse-button" disabled>RPM</button>
        </div>
    </div>
    <script>
        window.addEventListener("DOMContentLoaded", function(){
            
            socket.on("connect", () => {
                enableButtons();
                notifyConnected();
            });
            socket.on("disconnect", (reason) => {
                disableButtons();
                notifyDisconnected();
            });
        });

        surface.addEventListener('touchstart', handle_touchstart, false);
        surface.addEventListener('touchmove', handle_touchmove, true);
        leftMouseButton.addEventListener('click', handle_left_button, true);
        rightMouseButton.addEventListener('click', handle_right_button, true);
        
        function handle_touchmove(evt){
            evt.preventDefault();
            if (evt.targetTouches.length < 0){
                throw Error(`Touch events doesn't work!`);
            }
            let coords = evt.targetTouches[0];
            let _x;
            let _y;

            if (coords.clientX > lastPoint.x){
                _x = 10.0;
            }
            if (coords.clientX < lastPoint.x){
                _x = -10.0;
            }
            // if (Math.round(coords.clientY) <= Math.round(lastPoint.y + 4)){
            //     _y = -10.0;
            // }
            // if (Math.round(coords.clientY) >= Math.round(lastPoint.y + 4)){
            //     _y = 10.0;
            // }

            lastPoint.x = coords.clientX;
            lastPoint.y = coords.clientY;
            // let coords = evt.targetTouches[0];
            // let _x;
            // let _y;
            
            // if (window.prev_x >= coords.pageX){
            //     _x = -10.0;
            // }
            //     //left side
            // if (window.prev_x <= coords.pageX){
            //     _x = 10.0;
            // }
            // if (window.prev_y >= coords.pageY){
            //     _y = -10.0;
            // }
            //     //left side
            // if (window.prev_y <= coords.pageY){
            //     _y = 10.0;
            // }
             socket.emit("mouse_move", {
                 x : _x,
                 y : _y
             });
            
            log.innerHTML = "last x: "+ lastPoint.x + "last y: " + lastPoint.y +" x: " + coords.clientX + " y: " + coords.clinetY;
            
        }

        function handle_touchstart(evt){
            socket.emit('mouse_position');
            socket.on('mouse_position', function(coords){
                    window.prev_x = coords.x;
                    window.prev_y = coords.y;
            });
            window.lastPoint = {x: null, y: null}
        }

        function handle_left_button(evt){
            socket.emit("mouse_left_click", { type: "left-click" });
        }

        function handle_right_button(evt){
            socket.emit("mouse_left_click", { type: "right-click"});
        }

        // Utils methode for manipulate notification and buttons
        function notifyConnected() {
            const text = "Connected!";
            let ctx = surface.getContext("2d");
            ctx.font = "10px Arial";
            ctx.fillStyle = "#73bf76";
            ctx.fillText(text, surface.width/2 - ctx.measureText(text).width/2, surface.height/2);

            setTimeout(function(){
                ctx.clearRect(0, 0, surface.width, surface.height);
            }, 500);
        }
        function notifyDisconnected() {
            const text = "Disconnected!";
            let ctx = surface.getContext("2d");
            ctx.font = "18px Arial";
            ctx.fillStyle = "#ff6e6e";
            ctx.fillText(text, surface.width/2 - ctx.measureText(text).width/2, surface.height/2);
            setTimeout(function(){
                ctx.clearRect(0, 0, surface.width, surface.height);
            }, 700);
        }
        function enableButtons() {
            let buttons = document.getElementsByClassName("mouse-button");
            if (buttons.length > 0){
                for (let i = 0; i < buttons.length; i++) {
                    buttons[i].disabled = false;
                }
            }
        }
        function disableButtons() {
            let buttons = document.getElementsByClassName("mouse-button");
            if (buttons.length > 0){
                for (let i = 0; i < buttons.length; i++) {
                    buttons[i].disabled = true;
                }
            }
        }
    </script>
  </body>
</html>